{% extends 'base.html' %}
{% load static %}
{% block content %}

    <img src="{% static 'img\1.png' %}" alt="" height="700">

    <form action="{% url 'thanks_page' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ОТПРАВИТЬ</button>
    </form>

    <br><br><br><br><br><br>

    {% if object_list %}
        <table border="1">
            <tr>
                <td>ID</td>
                <td>Дата</td>
                <td>Имя</td>
                <td>Телефон</td>
            </tr>

            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.order_dt }}</td>
                    <td>{{ obj.order_name }}</td>
                    <td>{{ obj.order_phone }}</td>
                </tr>
            {% endfor %}

        </table>
        {% else %}
        <p>Данные отсутствуют</p>
    {% endif %}

{% endblock %}